@import "tailwindcss";

@tailwind base;
@theme {
  --color-background: var(--cream);
  --color-dark-brown: var(--dark-brown);
  --color-cream: var(--cream);
}
@tailwind components;
@tailwind utilities;

/* Type Mixers Brand Colors: #392d28 (dark brown), #bc9c74 (cardboard brown) */
:root {
  --dark-brown: #392d28;
  --cream: #fbf7f5;
}

body {
  background: var(--cream);
  color: var(--dark-brown);
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.08em;
  font-weight: 500;
}

.custom-photobooth-strip {
  @apply flex flex-col items-center p-4 pb-2;
  background: var(--dark-brown);
}
